.footer-logo {
    padding-top: 15px;
    color: #000;
    font-weight: bold !important;
}

footer a {
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgb(129, 132, 150);
}

footer a:hover {
    text-decoration: none;
}

.mail {
    color: rgb(73, 192, 43);
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.foo-icon {
    color: rgb(72, 207, 31);
    font-size: 20px;
}