@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
input,
select {
    text-align: left;
    padding: 0.3rem 0.4rem;
    margin: 0.5rem 0 0.5rem 0.8rem;
    border: 1px solid #a4a4a4;
    color: #a2a2a2;
    width: 50%;
}

select {
    background-color: transparent;
    padding: 0.3rem 0.8rem;
    margin: 0.5rem 0 0.5rem 0.8rem;
    border: 1px solid #a4a4a4;
    color: #a2a2a2;
    height: 2rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    margin: 0.5rem 0;
}

.imageCover {
    max-width: 350px;
    height: auto;
}

.formStep {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 440px;
    margin: 0 auto 100px;
    padding: 45px;
    padding-bottom: 70px;
    text-align: left;
    font-weight: 500;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formStep input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.formStep button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #5caf4c;
    width: 100%;
    border: 0;
    padding: 15px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}